*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: gray;
}

.wrapper{
    max-width: 1440px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 30px;
}
.nav_2 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 57px;
    line-height: 67px;
    text-align: center;
    letter-spacing: -0.354701px;
    color: #282828;
}

.nav_3{
    display: flex;
    align-items: center;
}

.nav_3 button{
    border: none;
    background-color: transparent;
    margin: 0 7px;
}
.section_1{
    width: 100%;
    height: 796px;
    background: url(./img/bg\ 1.jpg);
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    padding: 320px 100px;
    position: relative;
    overflow: hidden;
}
.local_pages{
    width: 400px;
    height: 796px;
    background-color: lightgray;
    position: absolute;
    top: 0px;
    right: 0;
    transform: translateX(400px);
    transition: all 1s ease-in-out;
    padding: 15px 30px;
    overflow-y: auto;
}

.local_pages span{
    font-size: 27px;
    color:red;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
}



.section_1 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.354701px;    
    color: #FFFFFF;
    
}

.section_1 button{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.354701px;
    color: #282828;
    padding: 7px 19px;
}

.section_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    padding: 23px 75px 0;
    overflow: hidden;
}
.section_2 .cart{
    display: flex;
    flex-direction: column;
}
.cart{
    width: 100%;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus-minus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 60px; */
    padding-top: 20px;    
}

.plus-minus > button{
    width: 30px;
    height: 30px;
    background-color:#323232 ;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-minus> p{
    font-size: 35px;
    padding: 0 10px;
}

.cart>button{
    margin-top: 15px;
}

.section_3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 80px 140px  0;
}
.cart_1{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cart_1 p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.354701px;    
    color: #979696;
    margin-top: 20px;
}


.btn{
    background: #282828;
    padding: 15px 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.354701px;
    color: #FFFFFF;   
}


footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 529px;
    line-height: 30px;
    padding-top: 20px;
}
.column, .column_1, .column_2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 305px;
}


footer p{
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.354701px;    
    color: #323232;
}

footer input{
    border: 1px solid #999999;
    width: 250px;
    height: 50px;
    outline: none;
}

footer button{
    background: #282828;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.354701px;    
    color: #FFFFFF;
    margin-top: 15px;
}

button:hover{
filter: contrast(110);

}

button:active{
    transform: scale(1.05);
}


#Btn-1{
    height: 35px;
    width: 150px;
    border-radius: 25px;
    background: gold;
    border:none;
    outline: none;
}



.local_pages .items{
    width: 100%;
    height: auto;   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.local_pages img{
    width: 150px;
}

.local_pages .column-items{
    height: 220px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0 ;
}